{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
    <link rel="stylesheet" href="{% static 'css/c2.css' %}">
</head>
<body>
    <center>
    <h1>Specific_static</h1>
    <img src='{% static "images/krishna.jpeg" %}'>
    <p>
        The name of Lord Krishna is basically an adjective, which means ‘black’ or ‘dark,’ another popular translation of the name is ‘all attractive’.
    <h1><Marquee>Radhe Radhe</Marquee></h1>
    </p>
</center>
</body>
</html>